@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>API de Usuários</h1>
    <p class="lead">API de Usuários com endereço!</p>
    <p class="lead">Obter, cadastrar, alterar e deletar usuários</p>
</div>